 {% extends "base.html" %}

{% block title %}Home - Doctor Finder{% endblock %}

{% block content %}
 <!-- About Section -->
  <section id="about" class="bg-blue-50 py-20">
    <div class="max-w-5xl mx-auto text-center px-4">
      <h2 class="text-3xl font-bold text-gray-800">About DoctorFinder</h2>
      <p class="mt-4 text-lg text-gray-600">
        DoctorFinder is your trusted healthcare companion. Our mission is to simplify access to medical
        services by connecting patients with the right doctors at the right time.
      </p>
    </div>
  </section>
  {% endblock %}